
/* CSS de la page d'accueil*/


main > .container {
    padding: 60px 15px 15px;
}

.footer {
    background-color: #34495e  ;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

nav{
    background-color: #34495e   ;
}

.nav-item{
    padding-right: 5px;
    padding-top: 1px;
}

.menu{
    float: left;

    width: 20%;
}

.contenus{
    float: right;
    width: 80%;
}